* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    border-radius: 5px;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    background: #293447;

}

.game-details{
    color: #b8b8b8;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board{
    width:100%;
    height: 100%;
    display: grid;
    grid-template:repeat(30,1fr)/repeat(30,1fr) ;
    background: #212837;
}

.play-board .food{
    
    background: #FF3D00;

}

.play-board .head{
    background: #688ec3;
    
    
}

.play-board .body{
    background: #4caf50;
    border-radius: 3px;
}